<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰 관리</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script type="module" src="/js/header.js"></script>
</head>
<body>

<div class="header">
    <div class="header">
        <ul class="nav">
            <li id="home-link"><a href="/">HOME</a></li>
            <li id="shop-link"><a href="#">SHOP</a>
                <ul class="dropdown" id="shop-dropdown"></ul>
            </li>
            <li><a href="#" id="search-link">SEARCH</a></li>
        </ul>

        <ul class="Lognav">
            <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
            <li><a href="/account" id="accountLink">ACCOUNT</a></li>
            <li><a href="/cart/view">BAG</a></li>
        </ul>
    </div>

    <!-- 검색 모달 -->
    <div id="search-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
            <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
            <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <h1>쇼핑몰 관리</h1>
        <div class="button-group">
            <button onclick="location.href='/admin/order'">주문관리</button>
            <button onclick="location.href='/admin/usersPage'">회원관리</button>
        </div>
        <div class="button-group">
            <button onclick="location.href='admin/category/create'">카테고리 추가</button>
            <button onclick="location.href='admin/product/store'">제품 추가</button>
        </div>
    </div>
</div>
</body>
</html>
