<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/orderList.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <script type="module" src="/js/header.js"></script>
  <script src="/js/order-admin.js"></script>
</head>

<body>

<div class="header">
  <div class="header">
    <ul class="nav">
      <li id="home-link"><a href="/">HOME</a></li>
      <li id="shop-link"><a href="#">SHOP</a>
        <ul class="dropdown" id="shop-dropdown"></ul>
      </li>
      <li><a href="#" id="search-link">SEARCH</a></li>
    </ul>

    <ul class="Lognav">
      <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
      <li><a href="/account" id="accountLink">ACCOUNT</a></li>
      <li><a href="/cart/view">BAG</a></li>
    </ul>
  </div>

  <!-- 검색 모달 -->
  <div id="search-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
      <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
      <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
    </div>
  </div>
</div>


<h2 style="margin-top: 40px; margin-bottom: 40px;">주문 조회</h2>
<div class="page">
  <div class="layout" style="max-width: 900px;">
    <div class="search-area">
      <span>기간 조회</span>
      <input id="startDate" class="date-input" type="date">
      <span>~</span>
      <input id="endDate" class="date-input" type="date">
      <span style="margin-left: 30px;">주문번호</span>
      <input id="orderId">
      <button class="search-btn" id="searchButton">조회</button>
    </div>

    <div class="orders-list-area">
      <div class="orders-list-nav">
        <div class="orders-list-layout">
          <chip class="orders-info-chip">주문 건수</chip>
          <span id="listLength"></span>
          <chip class="chip blue-chip" onclick="selectChip('PLACED')">주문완료</chip>
          <span id="completedCount"></span>
          <chip class="chip red-chip" onclick="selectChip('SHIPPED')">배송중</chip>
          <span id="inProgressCount"></span>
          <chip class="chip green-chip" onclick="selectChip('DELIVERED')">배송완료</chip>
          <span id="deliveredCount"></span>
          <chip class="orders-info-chip" style="margin-left: 20px;">기준일수</chip>
          <span id="dateLength"></span>
        </div>
        <select class="search-option">
          <option>최신순</option>
        </select>
      </div>
    </div>

    <div class="orders-list-title">
      <div style="width: 40px;">
        <input type="checkbox">
      </div>
      <p style="width: 100px;">주문번호</p>
      <p style="width: 100px;">주문일</p>
      <p style="width: 200px;">주문상품</p>
      <p style="width: 100px;">주문상태</p>
      <p style="width: 80px;">수령인</p>
      <p style="width: 120px;">전화번호</p>
      <p style="width: 60px;">수량</p>
      <p style="width: 140px;">주문가격</p>
    </div>

    <div id="orderList">
      <div class="orders-list">
        <div style="width: 40px;">
          <input type="checkbox">
        </div>
        <p style="font-weight: bold; width: 100px;">12345678105</p>
        <p style="width: 100px;">2024-05-18</p>
        <div style="display: flex; justify-content: center; align-items: center; width: 200px;">
          <p
                  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 110px; font-weight: bold;">
            17 MESH BLOCK FOOTBALL JERSEY - WHITE</p>
          <chip class="chip gray-chip" style="margin-left: 5px;">주문상세</chip>
        </div>
        <div style="width: 100px; display: flex; justify-content: center;">
          <chip class="chip blue-chip" style="margin: 0;">주문완료</chip>
          <select style="height: 20px; width: 20px;">
            <option>주문완료</option>
            <option>배송중</option>
            <option>배송완료</option>
          </select>
        </div>
        <p style="font-weight: bold; width: 80px;">주문자</p>
        <div style="width: 120px;">
          <chip class="chip gray-chip" style="margin: 0; padding: 5px 10px;">배송정보</chip>
        </div>
        <p style="font-weight: bold; width: 60px;">11,235</p>
        <p style="font-weight: bold; width: 140px;">KRW 100,350,000</p>
      </div>
    </div>
    <p id="noOrdersMessage" style="display: none; text-align: center; margin-top: 20px;">주문 내역이 없습니다</p>

  </div>
</div>
<button id="scrollToTopBtn" onclick="scrollToTop()">Top</button>
</body>
</html>