<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/order.css">
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>

<body>
<h2 style="margin-top: 40px; margin-bottom: 40px;">주문서 작성</h2>
<div class="page">
  <div class="layout">
    <h3>상품 정보</h3>
    <div id="product-list" class="product-list" style="margin-bottom: 30px;">
      <div class="product-list-wrap">
        <img class="thumb"
             src="//nomanual-shop.com/web/product/tiny/202302/b02de95d8e0986fa806430903b9c5c60.jpg"
             alt="">
        <div class="product-info">
          <span style="font-weight: bold;">상품 이름</span>
          <span style="color: gray;">KRW 4,000</span>
          <span></span>
          <span>[옵션 : XL]</span>
          <span>수량 : 2</span>
        </div>
      </div>

      <div class="product-list-wrap">
        <img class="thumb"
             src="//nomanual-shop.com/web/product/tiny/202403/fe1df3c9de8b2ee038169486ff6a83d6.jpg"
             alt="">
        <div class="product-info">
          <span style="font-weight: bold;">상품 이름</span>
          <span style="color: gray;">KRW 4,000</span>
          <span></span>
          <span>[옵션 : XL]</span>
          <span>수량 : 2</span>
        </div>
      </div>

    </div>
    <h3>주문 정보</h3>
    <hr style="margin-bottom: 15px;">
    <form class="delivery-form" style="margin-bottom: 30px;">
      <input id="info-name" placeholder="이름">
      <div class="post-info">
        <input id="info-postCode" readonly="readonly" onclick="execDaumPostcode()" style="flex: 1;"
               placeholder="우편 번호">
        <button type="button" class="address-btn" onclick="execDaumPostcode()">우편번호 찾기</button>
      </div>
      <input id="info-address" readonly="readonly" onclick="execDaumPostcode()" placeholder="주소">
      <input id="info-detailAddress" placeholder="상세 주소">
      <div class="email-form">
        <input id="emailPart1" readonly="readonly" type="text">
        <span>@</span>
        <input id="emailPart2" readonly="readonly" type="text">
      </div>
    </form>

    <h3>배송 정보</h3>
    <hr>
    <div style="margin: 15px 0;">
      <label>
        <input type="radio" name="delivery-info-option" value="same" onclick="copyOrderInfo()">
        주문자 정보와 통일
      </label>
      <label style="margin-left: 10px;">
        <input type="radio" name="delivery-info-option" value="new" onclick="clearDeliveryInfo()">
        새로운 배송지
      </label>
    </div>

    <form class="delivery-form" style="margin-bottom: 30px;">
      <input id="form-recipientName" placeholder="받으시는 분">
      <div class="post-info">
        <input id="form-postCode" readonly="readonly" onclick="execDaumPostcode2()" style="flex: 1;"
               placeholder="우편 번호">
        <button type="button" class="address-btn" onclick="execDaumPostcode2()">우편번호 찾기</button>
      </div>
      <input id="form-address" readonly="readonly" onclick="execDaumPostcode2()" placeholder="주소">
      <input id="form-detailAddress" placeholder="상세 주소">
      <div class="tel-form">
        <select id="tel1">
          <option value="010">010</option>
          <option value="011">011</option>
          <option value="011">016</option>
          <option value="011">017</option>
          <option value="011">018</option>
          <option value="011">019</option>
        </select>
        <span>-</span>
        <input id="tel2">
        <span>-</span>
        <input id="tel3">
      </div>
      <p id="phoneNumberError" style="font-size: 12px; font-weight: bold; color: red; display: none;">전화번호 형식에 맞지
        않습니다.</p>
      <textarea id="form-deliveryRequest" placeholder="배송메시지"></textarea>
      <p id="formError" style="font-size: 12px; font-weight: bold; color: red; display: none;">모든 정보를 채워주세요.</p>
    </form>

    <div class="total-box">
      <div class="price-info">
        <div class="price-name">상품금액</div>
        <div class="price">KRW 46,000</div>
      </div>
      <div class="price-info">
        <div class="price-name">배송비</div>
        <div class="price">+KRW 4,000</div>
      </div>
      <div class="total-info">
        <div class="price-name">결제 금액</div>
        <div class="price">KRW 50,000</div>
      </div>
      <button class="submit-btn">주문하기</button>
    </div>

  </div>
</div>

<script>

  document.addEventListener("DOMContentLoaded", (event) => {
    fetchMy();
    fetchCart();
  });
  function execDaumPostcode() {
    daum.postcode.load(function () {
      new daum.Postcode({
        oncomplete: function (data) {

          var addr = '';

          if (data.userSelectedType === 'R') {
            addr = data.roadAddress;
          } else {
            addr = data.jibunAddress;
          }

          document.getElementById('info-postCode').value = data.zonecode;
          document.getElementById('info-address').value = addr;
          document.getElementById("info-detailAddress").focus();
        }
      }).open();
    })
  }

  // 우편번호 찾기 기능
  function execDaumPostcode2() {
    daum.postcode.load(function () {
      new daum.Postcode({
        oncomplete: function (data) {

          var addr = '';

          if (data.userSelectedType === 'R') {
            addr = data.roadAddress;
          } else {
            addr = data.jibunAddress;
          }

          document.getElementById('form-postCode').value = data.zonecode;
          document.getElementById('form-address').value = addr;
          document.getElementById("form-detailAddress").focus();
        }
      }).open();
    })
  }

  function fetchMy(){
fetch(`/my`, {
      method: "GET"
    }
  )
    .then((response) => response.json())
    .then((data) => {
      console.log(data)

      // 주소가 없는 경우 빈 객체로 대체
    const address = data.address || {};

    document.getElementById('info-name').value = data.username || "";
    document.getElementById('info-postCode').value = address.postcode || "";
    document.getElementById('info-address').value = address.address || "";
    document.getElementById("info-detailAddress").value = address.detailAddress || "";

    populateEmailForm(data.email || "");
    })
    .catch((error) => console.error("Error fetching orders:", error))
}

<!--function fetchCart(){-->
<!--fetch(`/cart`, {-->
<!--      method: "GET"-->
<!--    }-->
<!--  )-->
<!--    .then((response) => response.json())-->
<!--    .then((data) => {-->
<!--      console.log(data)-->
<!--    })-->
<!--    .catch((error) => console.error("Error fetching orders:", error))-->
<!--}-->

 function populateEmailForm(email) {
    const emailParts = email.split('@');
    if (emailParts.length === 2) {
      document.getElementById('emailPart1').value = emailParts[0];
      document.getElementById('emailPart2').value = emailParts[1];
    } else {
      console.error('Invalid email format');
    }
  }

// 상품 정보 리스트 세팅
function viewProductInfo() {
  const productsData = localStorage.getItem("productList");

  productsData.forEach((product) => {

    const productInfoList = document.getElementById("product-list");

    const productInfoElement = `
      <div class="product-list-wrap">
        <img class="thumb"
             src="${product.imageUrl}"
             alt="">
        <div class="product-info">
          <span style="font-weight: bold;">${product.name}</span>
          <span style="color: gray;">KRW ${product.price}</span>
          <span></span>
          <span>[옵션 : ${product.optionSize}]</span>
          <span>수량 : ${product.count}</span>
        </div>
      </div>
    `;

    const productElementDiv = document.createElement("div");
    productElementDiv.classList.add("product-item");
    productElementDiv.innerHTML = productInfoElement;
    productInfoList.appendChild(productElementDiv);
  });
}

function createOrder(){

  let orderDetailList = [];

  const productsData = localStorage.getItem("productList");

  productsData.forEach((product) => {

    const orderDetailInit = {
      "productOptionId": product.productOptionId,
      "count": product.count
    }

    orderDetailList.add(orderDetailInit);
  })

  const part1 = document.getElementById("tel1").value;
  const part2 = document.getElementById("tel2").value;
  const part3 = document.getElementById("tel3").value;
  const recipientTel = `${part1}-${part2}-${part3}`;

  const createOrderData = {
    deliveryRequest : document.getElementById("form-deliveryRequest").value,
    recipientName : document.getElementById("form-recipientName").value,
    recipientTel : recipientTel,
    postCode : document.getElementById("form-postCode").value,
    deliveryAddress : document.getElementById("form-address").value,
    deliveryDetailAddress : document.getElementById("form-detailAddress").value,
    orderDetailRequestDtoList : orderDetailList
  }

  // 검증이 되면 생성 요청
  if (!validateForm()) {
    alert("모든 필드를 올바르게 채워주세요.");
    return false; // 이벤트 전파 중단
  }

  if (confirm("주문을 생성하시겠습니까?")){
    fetch(`/orders`, {
      method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(createOrderData),
    })
    .then((data) => {
      console.log(data)
      alert("주문이 완료되었습니다.");
    })
    .catch((error) => {
      console.error("Error fetching orders:", error);
      alert("주문 중 오류가 발생했습니다. 다시 시도해주세요.");
    })
  }else{
    return false;
  }
}

// 전화번호 검증 코드
function validatePhoneNumber() {
  const tel2 = document.getElementById("tel2").value;
  const tel3 = document.getElementById("tel3").value;
  const isValid = tel2.length === 4 && tel3.length === 4;
  document.getElementById("phoneNumberError").style.display = isValid
    ? "none"
    : "block";
  return isValid;
}

// 주문 폼 검증
function validateForm() {
  const deliveryRequest = document.getElementById("form-deliveryRequest").value;
  const recipientName = document.getElementById("form-recipientName").value;
  const tel2 = document.getElementById("tel2").value;
  const tel3 = document.getElementById("tel3").value;
  const postCode = document.getElementById("form-postCode").value;
  const deliveryAddress = document.getElementById("form-address").value;
  const deliveryDetailAddress = document.getElementById("form-detailAddress").value;
  const orderDetailRequestDtoList = orderDetailList;

  const isFormValid = deliveryRequest && recipientName && tel2 && tel3 && postCode && deliveryAddress && deliveryDetailAddress && orderDetailRequestDtoList;
  const isPhoneValid = validatePhoneNumber();

  if (!isFormValid) {
    document.getElementById("formError").style.display = "block";
  } else {
    document.getElementById("formError").style.display = "none";
  }

  return isFormValid && isPhoneValid;
}

 function populateEmailForm(email) {
    const emailParts = email.split('@');
    if (emailParts.length === 2) {
      document.getElementById('emailPart1').value = emailParts[0];
      document.getElementById('emailPart2').value = emailParts[1];
    } else {
      console.error('Invalid email format');
    }
  }

function copyOrderInfo() {
    document.getElementById('form-recipientName').value = document.getElementById('info-name').value;
    document.getElementById('form-postCode').value = document.getElementById('info-postCode').value;
    document.getElementById('form-address').value = document.getElementById('info-address').value;
    document.getElementById('form-detailAddress').value = document.getElementById('info-detailAddress').value;
  }

  function clearDeliveryInfo() {
    document.getElementById('form-recipientName').value = '';
    document.getElementById('form-postCode').value = '';
    document.getElementById('form-address').value = '';
    document.getElementById('form-detailAddress').value = '';
  }
  // 주문정보
  // address DB에서 유저ID에 맞게 주소 불러와서 세팅
  // user DB에서 유저ID에 맞게 (이름, 전화번호, 이메일) 불러와서 세팅

  // 배송정보
  // 주문자 정보와 통일 => 주문정보 그대로 세팅
  // 새로운 배송지 => 사용자 작성

  // 주문하기 누르면 form 제출
  // 주문 + 주문상세 생성
</script>
</body>

</html>