<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/order.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <script type="module" src="/js/header.js"></script>
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script src="/js/order-edit.js"></script>
</head>

<body>
<div class="header">
  <div class="header">
    <ul class="nav">
      <li id="home-link"><a href="/">HOME</a></li>
      <li id="shop-link"><a href="#">SHOP</a>
        <ul class="dropdown" id="shop-dropdown"></ul>
      </li>
      <li><a href="#" id="search-link">SEARCH</a></li>
    </ul>

    <ul class="Lognav">
      <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
      <li><a href="/account" id="accountLink">ACCOUNT</a></li>
      <li><a href="/cart/view">BAG</a></li>
    </ul>
  </div>

  <!-- 검색 모달 -->
  <div id="search-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
      <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
      <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
    </div>
  </div>
</div>

<div class="main-content">
  <h2 style="margin-top: 40px; margin-bottom: 40px;">주문서 수정</h2>
  <div class="page">
    <div class="layout">
      <h3>상품 정보</h3>
      <div id="product-list-order" class="product-list-order" style="margin-bottom: 30px;">
        <!-- 상품 정보들이 출력되는 공간 -->
      </div>
      <h3 style="margin-bottom: 10px;">주문 정보 수정</h3>
      <hr style="margin-bottom: 15px;">
      <form id="orderEditFrom" class="delivery-form" style="margin-bottom: 30px;">
        <input id="recipientName" placeholder="이름" required>
        <div class="post-info">
          <input id="postCode" readonly="readonly" style="flex: 1;" placeholder="우편 번호" required>
          <button type="button" class="address-btn" onclick="execDaumPostcode()">우편번호 찾기</button>
        </div>
        <input id="deliveryAddress" readonly="readonly" placeholder="주소" required>
        <input id="deliveryDetailAddress" placeholder="상세 주소" required>
        <div class="tel-form">
          <select id="telPrefix" style="flex: 1;">
            <option value="010">010</option>
            <option value="011">011</option>
            <option value="011">016</option>
            <option value="011">017</option>
            <option value="011">018</option>
            <option value="011">019</option>
          </select>
          <span>-</span>
          <input id="tel1" maxlength="4" required>
          <span>-</span>
          <input id="tel2" maxlength="4" required>
        </div>
        <p id="phoneNumberError" style="font-size: 12px; font-weight: bold; color: red; display: none;">전화번호 형식에 맞지 않습니다.</p>
        <textarea id="deliveryRequest" placeholder="배송메시지"></textarea>
        <p id="formError" style="font-size: 12px; font-weight: bold; color: red; display: none;">모든 정보를 채워주세요.</p>
      </form>

      <div class="total-box">
        <div class="price-info">
          <div class="price-name">상품금액</div>
          <div id="totalPrice" class="price"></div>
        </div>
        <div class="price-info">
          <div class="price-name">배송비</div>
          <div id="deliveryFee" class="price"></div>
        </div>
        <div class="total-info">
          <div class="price-name">결제 금액</div>
          <div id="totalAmount" class="price"></div>
        </div>
        <button class="submit-btn" onclick="handleOrderUpdate()">주문 수정하기</button>
      </div>
      <div style="margin-top: 20px; display: flex; justify-content: center; align-items: center;">
        <button class="backBtn" onclick="goBack()">뒤로</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>