<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cart Item</title>
</head>
<body>
<h1>Add Cart Item</h1>
<form action="/carts" method="post">
    <label for="optionId">Option ID:</label>
    <input type="text" id="optionId" name="optionId"><br><br>
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" name="quantity"><br><br>
    <input type="submit" value="Add to Cart">
</form>
<a href="/carts">Back to Cart</a>
</body>
</html>