<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <!-- Header CSS 포함 -->
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<!-- Header를 포함 -->

<div class="header">
    <div class="header">
        <ul class="nav">
            <li id="home-link"><a href="/">HOME</a></li>
            <li id="shop-link"><a href="#">SHOP</a>
                <ul class="dropdown" id="shop-dropdown"></ul>
            </li>
            <li><a href="#" id="search-link">SEARCH</a></li>
        </ul>

        <ul class="Lognav">
            <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
            <li><a href="/account" id="accountLink">ACCOUNT</a></li>
            <li><a href="/cart/view">BAG</a></li>
        </ul>
    </div>

    <!-- 검색 모달 -->
    <div id="search-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
            <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
            <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
        </div>
    </div>
</div>


<div class="container">
    <h1>BAG (<span id="item-count">0</span>)</h1>
    <div class="cart">
        <div class="cart-items" id="cart-items">
            <!-- 장바구니 아이템이 동적으로 추가됩니다. -->
        </div>
        <div class="summary">
            <h2>주문 요약</h2>
            <div class="summary-item"><span>상품 합계금액</span><span id="total-price">KRW 0</span></div>
            <div class="summary-item"><span>배송비</span><span>+ KRW 0</span></div>
            <div class="total"><span>총 주문합계</span><span id="final-price">KRW 0</span></div>
            <button class="checkout clear">장바구니 비우기</button>
            <button class="checkout order">주문하기</button>
        </div>
    </div>
</div>
<script src="/js/header.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>