<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리</title>
    <link rel="stylesheet" href="/css/admin-users.css">
    <script src="/js/admin-user.js" defer></script>
</head>
<body>
<div class="container">
    <h1>회원관리</h1>
    <div class="stats">
        <span>총 회원 수: <span id="total-members">0</span></span>
        <span>관리자 수: <span id="admin-count">0</span></span>
    </div>
    <table>
        <thead>
        <tr>
            <th>가입날짜</th>
            <th>이메일</th>
            <th>이름</th>
            <th>권한</th>
        </tr>
        </thead>
        <tbody id="user-table-body">
        <!-- 회원 목록이 여기에 추가됩니다. -->
        </tbody>
    </table>
    <div id="observer"></div> <!-- 무한 스크롤을 위한 요소 -->
</div>
</body>
</html>
