<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script type="module" src="/js/header.js"></script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/register.js" defer></script>
</head>
<body>

<div class="header">
    <div class="header">
        <ul class="nav">
            <li id="home-link"><a href="/">HOME</a></li>
            <li id="shop-link"><a href="#">SHOP</a>
                <ul class="dropdown" id="shop-dropdown"></ul>
            </li>
            <li><a href="#" id="search-link">SEARCH</a></li>
        </ul>

        <ul class="Lognav">
            <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
            <li><a href="/account" id="accountLink">ACCOUNT</a></li>
            <li><a href="/cart/view">BAG</a></li>
        </ul>
    </div>

    <!-- 검색 모달 -->
    <div id="search-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
            <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
            <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <h1>회원가입</h1>
        <form id="signupForm" onsubmit="handleSubmit(event)">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="이메일" required>
            </div>
            <div class="form-group">
                <input type="password" id="cipherPassword" name="cipherPassword" placeholder="비밀번호" required>
            </div>
            <div class="form-group">
                <input type="password" id="confirm" name="confirm" placeholder="비밀번호 확인" required>
            </div>
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="이름" required>
            </div>
            <div class="form-group postcode-group">
                <input type="text" id="postcode" name="postcode" placeholder="우편번호" readonly="readonly">
                <input type="button" onclick="daumPost()" value="주소 찾기">
            </div>
            <div class="form-group">
                <input type="text" id="address" name="address" placeholder="기본 주소">
            </div>
            <div class="form-group">
                <input type="text" id="detailAddress" name="detailAddress" placeholder="상세 주소">
            </div>
            <div class="button-group">
                <button type="submit">회원 가입</button>
                <button type="button" onclick="location.href='/index.html'">가입 취소</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
