body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    width: 100%;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button,
a.google-login,
a.signup-link,
a.naver-login {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.1rem;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.login-button {
    background-color: #48639e;
    color: white;
}

.signup-link {
    color: #333;
    cursor: pointer;
}

.google-login {
    background-color: white;
    border: 1px solid #ccc;
    color: black;
}

.naver-login {
    background-color: #4caf50;
    color: white;
}