.search-area{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 0;
  gap: 10px;
}
.search-area span{
  font-size: 14px;
  font-weight: bold;
}
.date-input{
  width: 150px;
  padding-left: 15px;
}
.search-btn{
  font-size: 12px;
  padding: 7px 10px;
  background-color: #6274B1;
  color: white;
  border: none;
  border-radius: 5px;
}
.search-btn:hover{
  background-color: #3a4670;
}
.orders-list-area{
  display: flex;
  padding: 15px 10px;
}
.orders-list-nav{
  width: 100%;
  display: flex;
  align-items: center;
}
.orders-list-layout{
  display: flex;
  align-items: center;
}
.orders-list-nav span{
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
.orders-info-chip{
  padding: 5px 10px;
  background-color: rgb(214, 214, 214);
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
.orders-info-chip:not(:first-child) {
  margin-left: 10px;
}
.search-option{
  border-radius: 5px;
  font-size: 12px;
  margin-left: auto;
}
.orders-list-title{
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.orders-list{
  display: flex;
  font-size: 12px;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.chip {
  margin-left: 15px;
  cursor: pointer;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: #333;
}