body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    width: 100%;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 1em;
    font-size: 2em;
}

.form-group {
    margin-bottom: 1em;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 1em);
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.postcode-group {
    display: flex;
}

.postcode-group input[type="text"] {
    flex: 3;
    margin-right: 1em;
}

.postcode-group input[type="button"] {
    flex: 1;
    background-color: #778beb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5em;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.button-group button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: #4a69bd;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 0 0.5em;
    font-size: 1em;
}

.button-group button[type="button"] {
    background-color: #778beb;
}

.button-group button:hover {
    opacity: 0.8;
}