html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input{
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

label {
	font-size: 13px;
}

input {
	height: 26px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
}

select {
	height: 30px;
	padding-left: 10px;
}

textarea {
	height: 60px;
	resize: none;
	padding: 10px 15px;
	font-size: 12px;
}

button {
	cursor: pointer;
}

input[type="radio"] {
	width: 12px;
	height: 12px;
}

img {
	height: 90px;
	width: 90px;
}

/* input:focus, textarea:focus, select:focus {
	outline: none;
} */

hr{
	width: 100%;
	margin-bottom: 0;
}

a{
	text-decoration: none;
	color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit; 
}

.backBtn{
  background-color: #a7a0ff;
  border-radius: 5px;
  border:none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
}
.backBtn:hover{
  background-color: #8a82fc;
}