.page {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 10rem auto;
  overflow: hidden;
}

.product-list-order {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px;
}

.product-list-wrap {
  display: flex;
}

.product-list-wrap:not(:first-child) {
  border-top: 1px solid black;
}

.product-info-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.total-info {
  margin: 25px 0;
  font-size: 18px;
  font-weight: bold;
}

.chip{
  width: 60px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
  border-radius: 5px;
}
.blue-chip{
  background-color: #B2D5EE;
}
.red-chip{
  background-color: #EBACAC;
}
.green-chip{
  background-color: #ACE7A2;
}
.gray-chip{
  background-color: #C0C0C0;
}