<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<div class="header">
    <ul class="nav">
        <li id="home-link"><a href="/">HOME</a></li>
        <li id="shop-link"><a href="#">SHOP</a>
            <ul class="dropdown" id="shop-dropdown"></ul>
        </li>
        <li><a href="#" id="search-link">SEARCH</a></li>
    </ul>

    <ul class="Lognav">
        <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
        <li><a href="/account" id="accountLink">ACCOUNT</a></li>
        <li><a href="/cart/view">BAG</a></li>
    </ul>
</div>

<!-- 검색 모달 -->
<div id="search-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
        <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
        <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
    </div>
</div>

<main>
    <div class="product-list" id="product-list"></div>
</main>

<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/home.js"></script>
</body>
</html>