<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" href="/css/inputProduct.css">
    <script src="/js/inputProduct.js" defer></script>
</head>
<body>
<div class="container">
    <h2>상품등록</h2>

    <form id="productForm" enctype="multipart/form-data" method="post">
        <!-- 카테고리를 받아서 js에서 fetch로 보여주게 하는 설정 추가하기 -->
        <label for="productName">상품 이름</label>
        <input type="text" id="productName" name="productName">

        <label for="categoryId">카테고리 ID</label>
        <input type="text" id="categoryId" name="categoryId">

        <label for="description">상품 설명</label>
        <textarea id="description" name="description" rows="4"></textarea>

        <label for="price">가격</label>
        <input type="number" id="price" name="price">

        <div class="sizes">
            <div>
                <label>사이즈 S</label>
                <input type="number" id="stockS" name="stockS">
            </div>
            <div>
                <label>사이즈 M</label>
                <input type="number" id="stockM" name="stockM">
            </div>
        </div>

        <div class="sizes">
            <div>
                <label>사이즈 L</label>
                <input type="number" id="stockL" name="stockL">
            </div>
            <div>
                <label>사이즈 XL</label>
                <input type="number" id="stockXL" name="stockXL">
            </div>
        </div>

        <label for="details">세부정보</label>
        <textarea id="details" name="details" rows="4"></textarea>

        <label for="productImage">제품 사진</label>
        <input type="file" id="productImage" name="productImage" accept="image/*">

        <button type="submit">등록완료</button>
    </form>
</div>
</body>
</html>
