<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" href="/inputProduct/inputProduct.css">
</head>
<body>
<div class="container">
    <h2>상품등록</h2>
    <form id="productForm" enctype="multipart/form-data" method="post">
        <label for="productName">상품 이름</label>
        <input type="text" id="productName" name="productName">

        <label for="category">카테고리</label>
        <input type="text" id="category" name="category">

        <label for="description">상품 설명</label>
        <textarea id="description" name="description" rows="4"></textarea>

        <label for="price">가격</label>
        <input type="number" id="price" name="price">

        <div class="sizes">
            <div>
                <label>사이즈 S</label>
                <input type="number" name="stockS">
            </div>
            <div>
                <label>사이즈 M</label>
                <input type="number" name="stockM">
            </div>
        </div>

        <div class="sizes">
            <div>
                <label>사이즈 L</label>
                <input type="number" name="stockL">
            </div>
            <div>
                <label>사이즈 XL</label>
                <input type="number" name="stockXL">
            </div>
        </div>

        <label for="details">세부정보</label>
        <textarea id="details" name="details" rows="4"></textarea>

        <label for="productImage">제품 사진</label>
        <input type="file" id="productImage" name="productImage" accept="image/*">

        <button type="submit">등록완료</button>
    </form>
</div>
<script>
    document.getElementById('productForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting the default way

        const form = document.getElementById('productForm');
        const formData = new FormData(form);

        fetch('/upload/images', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('File uploaded and product saved successfully.'); // Display success message
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.'); // Display error message
            });
    });
</script>
</body>
</html>
