<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script type="module" src="/js/header.js"></script>
    <script src="/js/login.js" defer></script>
</head>
<body>

<div class="header">
    <div class="header">
        <ul class="nav">
            <li id="home-link"><a href="/">HOME</a></li>
            <li id="shop-link"><a href="#">SHOP</a>
                <ul class="dropdown" id="shop-dropdown"></ul>
            </li>
            <li><a href="#" id="search-link">SEARCH</a></li>
        </ul>

        <ul class="Lognav">
            <li><a href="/loginForm" id="loginLink">LOGIN</a></li>
            <li><a href="/account" id="accountLink">ACCOUNT</a></li>
            <li><a href="/cart/view">BAG</a></li>
        </ul>
    </div>

    <!-- 검색 모달 -->
    <div id="search-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <input type="text" id="search-input" class="underline-input" placeholder="검색어를 입력하세요">
            <p id="search-description">엔터를 누르면 검색이 됩니다.</p>
            <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
        </div>
    </div>
</div>

<div class="main-content">
    <div class="login-container">
        <h1>Login</h1>
        <form onsubmit="handleSubmit(event)">
            <div class="input-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">로그인</button>
            <a href="/registerForm" class="signup-link">회원가입</a>
            <a href="/oauth2/authorization/google" class="google-login">Google 로그인</a>
            <a href="/oauth2/authorization/naver" class="naver-login">네이버로 로그인</a>
        </form>
    </div>
</div>

</body>
</html>
